---
layout: default
title: Welcome!
---

<div class="row"> 
  <div class="four columns">
    <h1>Greetings !</h1>
    <p>
      <strong>{{ site.title }}</strong> is about code, coding and coders.  
      It is intended to be a place to share <em>code-fu</em> of any kind.
    </p>
    <p>
      My name is Charles.  You can learn more in the 
      <a href="{{ site.url }}/about.html">About</a> page.
    </p>
    <h2>Posts</h2>
    <ul class="no-bullet">
      {% for current_post in site.posts %}
      <li>     
        {% assign post_is_fr  = 'false' %}
        {% for cat in current_post.categories %}
          {% if cat ==  'fr' %}
            {% assign post_is_fr  = 'true' %}
          {% endif %}
        {% endfor%}
        
        {% if post_is_fr == 'false' %}
        <span class="post-list">
          {{ current_post.date | date: "%m.%d.%y" }}
        </span>
        &raquo; 
        <span class="post-list">
          <a href="{{ current_post.url }}">{{ current_post.title }}</a>
        </span>
        
          {% if current_post.translation != nil %}
        <span class="post-list post-list-translation">
          ~
          <a class="post-list translation-link" href="{{ site.url }}{{ current_post.translation }}{{ current_post.url }}">
            Lire en français
          </a>
          {% endif %}
        </span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
