<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <meta name="viewport" content="width=device-width" />
  <link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />
  <title>{{ site.title }}{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/app.css">
  <script src="{{ site.url }}/assets/javascript/modernizr.foundation.js"></script>
</head>

<body>
<!-- Whole Body Div -->
<div class="row">
  <div id="page-content" class=" small-12 small-centered columns">
  
    {% include nav.html %}
    
    <!-- Main page content -->
    <div id="wrapper">
      {{ content }}	
    </div>
    
    {% include footer.html %}
    
  </div>
</div>

<script src="{{ site.url }}assets/javascript/jquery.js" type="text/javascript"></script>
<script src="{{ site.url }}assets/javascript/foundation.min.js" type="text/javascript"></script>
<script src="{{ site.url }}assets/javascript/anchorify.js" type="text/javascript"></script>
<script src="{{ site.url }}assets/javascript/app.js" type="text/javascript"></script>
<script>
  $('h2, h3, h4, h5, h6').anchorify();
</script>
</body>
</html>


